@charset "utf-8"

* {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}
body {
    background-image: linear-gradient(to right, #F2AECE, #f2137b);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #652A8C;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #652A8C;
    text-align: center;
    text-shadow: 1px 1px 0 #9c58ca;
}
h2 {
    color: #f2137b;
    text-shadow: 1px 1px 0 #e9719d;
}

p {
    text-align: justify;
}
img {
    border-radius: 10px;
}